@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Relize Nyan Cat or oo e e a e e cat*/
body {
    background-color: #292b47;
    color: white;
    font-family: "Barlow light", sans-serif;
    line-height: 1.67;
    margin: 0;
    padding: 0;

}

nav {
    position:sticky;
    top: 0;
    padding: 1em;
    background-color: #454873;
    z-index: 1000;
}

body.lightMode nav {
    background-color: #292b47;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav li {
    transition: transform 0.2s ease;
}

nav li:hover {
    transform: scale(1.1);
}

nav div {
    border-left: white solid 0.2em;
}

 nav a {
    all: unset;
    cursor: pointer;
    user-select: none;
 }

nav button {
    all: unset;
    cursor: pointer;
    user-select: none;
}

header {
    border-bottom:#0ca637 solid 0.2em;
    margin-bottom: 1.3em;
    overflow: hidden;
    text-align: center;
}

h1 span {
    display: inline-block; /* Notwendig, damit transform funktioniert */
    opacity: 1;            /* Startet unsichtbar */
    animation-duration: 0.8s;
    animation-fill-mode: forwards; /* Bleibt nach der Animation sichtbar */
    animation-timing-function: ease-out;
}

main section {
    transition: transform 0.4s ease;
}

main section:hover {
    transform: scale(1.05);
    border-color: #0ca637;
}

.gridWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
}

section h1, section h2 {
    color: #0ca637
}

main section {
    border: 0.1px solid #ffffff;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.2em;
    
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    min-height: 200px;
}

.releasesWrapper {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.trackCard {
    background-color: #262841;
    padding: 1em;
    border-radius: 0.5em;
    border-top: 4px solid #0ca637;
    flex: 1 1 200px;
    transition: transform 0.2s ease;
}

.trackCard:hover {
    transform: scale(0.99);
}

.coverPlaceholder {
    background: #333;
    /*height: 120px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.btn {
    display:inline-block;
    margin-top: 0.5em;
    color: #0ca682;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #0ca637;
    border-radius: 0.5em;
    padding: 0.3em 0.8em;
    transition: transform 0.2s ease;
}


.btn:hover {
    background: #0ca637;
    color: white;
    transform: scale(1.02);
}


#Elias {
    animation-name: slideLinks;
    animation-duration: 1s;
}

#Reinhardt {
    animation-name: slideRechts;
    animation-duration: 1s;
}




@keyframes slideLinks {
    from {
        transform: translateX(-5em);
        opacity: 0;
        font-size: 0.8em;
    } to {
        transform: translateX(0em);
        opacity: 1;
        font-size: 1em;
    }
}

@keyframes slideRechts {
    from {
        transform: translateX(5em);
        opacity: 0;
        font-size: 0.8em;
    } to {
        transform: translateX(0em);
        opacity: 1;
        font-size: 1em;
    }
}


body.lightMode {
    background-color: rgb(255, 255, 255);
    /*color:#262841;*/
}

body.lightMode header {
    color: rgb(0, 45, 128);
    border-bottom-color: black;
}

body.lightMode h1, body.lightMode h2 {
    color: black;
}

body.lightMode section {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 9, 128);
    border-color: rgb(0, 9, 128);
}

body.lightMode section:hover {
    border-color: black;
}

 body.lightMode .trackCard {
    border-color: #262841;
    background-color: #e3e3e3;
 }

body.lightMode .btn {
    color: #262841;
    border-color: rgb(0, 9, 128);
}

body.lightMode .btn:hover {
    color: white;
    background-color: #262841;
    border-color: black;
}


